body{
    height: 100hv;
    display: flex;
    flex-direction:column;
    padding-top: 100px ;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}
#hello{
    font-size: 10rem;
    filter: grayscale(1);
    cursor: pointer;
    transition-property: transform,filter;
    transition-duration: 200ms;
}
#hello:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}